
/* ----- common start -----*/

h1{
    font-size: 165%;  
}



@media screen and (max-width:415px){
    /*SP 415px以下で適用*/
    h1{
        font-size: 165%;  
    }
    
    h2{
        font-size: 135%;  
    }

    h3{
        font-size: 135%;  
    }
}
/* breadcrumb start*/
.breadcrumb {
    font-size: 80%;
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
    .bc-icons-2 .breadcrumb-item.active {
    color: #455a64; }

/* breadcrumb end*/

/* ----- common end ----- */



/* 初めての方へ start */

/* 初めての方へ end */