/* ----- 初めての方へ start -----*/

/* ----- common start -----*/

h1{
    font-size: 165%;  
}

.small-text{
	font-size: 11px;
}

.btn-rounded-blue{
	border-radius: 42px / 55px;
	background: linear-gradient(40deg, #45cafc, #303f9f);
}

.btn-rounded-orange{
	border-radius: 42px / 55px;
	background: linear-gradient(40deg, #ffdf89, #FFAB01);
}


@media screen and (max-width:415px){
    /*SP 415px以下で適用*/
    h1{
        font-size: 165%;  
    }
    
    h2{
        font-size: 135%;  
    }

    h3{
        font-size: 135%;  
	}
	
	hr {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
/* breadcrumb start*/
.breadcrumb {
    font-size: 80%;
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
    .bc-icons-2 .breadcrumb-item.active {
    color: #455a64; }

/* breadcrumb end*/

/* ----- common end ----- */

/* how to resister start*/
#resister .card.card-image {
    width: 100%;
    background-position: center;
    background-size: cover;
}

#resister .card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/* how to resister end*/

/* what is delta group start*/
#whatis [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
/* view more start*/

@media screen and (max-width:415px){
    /*SP 415px以下で適用*/
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 140px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 続きをよむ';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background: linear-gradient(40deg, #45cafc, #303f9f);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 550px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.cp_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 30px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}
}

/* view more end*/

/* what is delta group end*/

/* main job start*/
#mainjob .card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media screen and (max-width:321px){
    /*SP 321px以下で適用*/
	#mainjob .job-title {
		padding-left: 7px;
	}

	#mainjob .job-example {
		padding-right: 7px;
	}
}
/* main job end*/

/* ----- 初めての方へ end ----- */