
/* ----- common start -----*/

h1{
    font-size: 165%;  
}



@media screen and (max-width:415px){
    /*SP 415px以下で適用*/
    h1{
        font-size: 165%;  
    }
    
    h2{
        font-size: 135%;  
    }

    h3{
        font-size: 135%;  
    }
}
/* breadcrumb start*/
.breadcrumb {
    font-size: 80%;
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
    .bc-icons-2 .breadcrumb-item.active {
    color: #455a64; }

/* breadcrumb end*/

/* ----- common end ----- */



/* ----- 初めての方へ start -----*/

/* view more start*/

@media screen and (max-width:415px){
    /*SP 415px以下で適用*/
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 140px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 続きをよむ';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 550px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.cp_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 30px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}
}



/* view more end*/

/* ----- 初めての方へ end ----- */