
/* ------common start------*/


/* breadcrumb start*/

.breadcrumb {
    font-size: 80%;
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
    .bc-icons-2 .breadcrumb-item.active {
    color: #455a64; }

/* breadcrumb end*/
/* ------common end------*/




/* breadcrumb start*/


.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
    .bc-icons-2 .breadcrumb-item.active {
    color: #455a64; }

/* breadcrumb end*/


/* 初めての方へ start */

/* 初めての方へ end */